{% extends 'base.html' %}
<!-- title -->
{% block title %}Change-Password{% endblock %}

<!-- content block -->
{% block main %}

<!-- edit user -->

<center>

  <div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h2><i class="{{icon}}"></i>{{title}}</h2>
    </div>
  </div>
</center>
<div class="container-fluid mt-5">
  <div class="col mx-auto card bg-light p-5">

    <form method="POST">
      {{form.hidden_tag()}}
      <div class="mb-3">
        {{form.current_password.label}}
        {{form.current_password(class_="form-control")}}
      </div>
      <div class="mb-3">
        {{form.new_password.label}}
        {{form.new_password(class_="form-control")}}
      </div>
      <div class="form-control-group mb-3">
        {{form.confirm_password.label}}
        {{form.confirm_password(class_="form-control")}}
      </div>

      <div class="my-3">
        {{form.change_password(class_="form-control btn btn-primary text-white")}}
      </div>

    </form>
  </div>
</div>


{% endblock %}