{% extends 'base.html' %}
<!-- title -->
{% block title %}Profile{% endblock %}

<!-- content block -->
{% block main %}

<!-- edit user -->
<center>
{% if session['user']['role'] == 2 %} 


    <div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h2><i class="{{icon}}"></i>{{title}}</h2>
        </div>
        <div class="alert alert-warning" role="alert">
            Users : {{users | count}} - Buyer : {{buyer_user | count}} - Seller : {{seller_user | count}} - Items : {{items | count}}
          </div>
    </div>



    <br>
    <div id="b1">
        <div class="col-lg-10 col-md-6 col-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Delete-Block</th>


            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>


                <th scope="row">{{loop.index}}</th>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="{{url_for('profile.remove_user' , user_id = user.id)}}"><i class="fas fa-user-times ml-4" title="Remove-User"></i></a>
                    <a href="{{url_for('profile.disable_user_list' , user_id = user.id)}}"> <i class="fas fa-user-slash" title="Disable-User"></i></a>
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="{{url_for('profile.disabled_list')}}"><button type="button" class="btn btn-primary">Block-Users-List</button></a>
    
    <br><br>

   </div></div>



{% else %}
<br>
<div class="alert alert-warning" role="alert">
    You're not allowed to see this! back to your profile?<a href="{{url_for('profile.profile')}}"> Your-Profile </a>
  </div>
{% endif %}
</center>
{% endblock %}