{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block main %}




<center>


  <form action="{{ url_for('home.search_items') }}" method="POST">
    <input class="form-control form-control-lg" type="search" name="search_keyword" style="width: 25%;"
      placeholder=" Enter Keywords To Search" aria-label="Search">
    <button class="btn btn-primary mt-3">Search </button>
  </form>

  <hr>
    <a href="{{url_for('home.add_item')}}"> <button type="button" class="btn btn-primary">Add-Item</button></a>
    <a href="{{url_for('home.sort_price_items')}}"><button type="button" class="btn btn-primary">Sort By Price</button></a>
    <a href="{{url_for('home.sort_date_items')}}"><button type="button" class="btn btn-primary">Sort By Date</button></a>
  <br> <br>


  {% for item in items %}
  


  <div class="card" style="width: 18rem;">

    <ol class="mr-5">
      <a href="{{url_for('home.add_favorite' , item_id = item.id)}}"><i class="fas fa-star" title="Favorite"></i></a>
      <a href="{{url_for('home.edit_item' , item_id = item.id)}}"><i class="far fa-edit" title="Edit"></i></a>
      <a href="{{url_for('home.delete_item' , item_id = item.id)}}"><i class="fas fa-trash-alt" title="Delete"></i></a>
    </ol>

    <img class="card-img-top" src="../../static/images/logi.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <h5
          style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
          <b> HRD-Souq</b></h5>
      </h5>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      <p class="card-text">
      <h5><b>Title : </b>{{item.title}}</h5>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      <h5><b>Description : </b>{{item.description}}</h5>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      <h5><b>Price : </b> {{item.price}} JDs </h5>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      <h5><b>Cateogory : </b> {{item.category}} </h5>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      <h5><b>Cateogory : </b> {{item.date}} </h5>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      </p>
      
      
        {% if request %}
        <a href="{{url_for('home.buy_item' , item_id = item.id)}}" class="btn btn-primary text-white">Buy</a>
        {% else %}
        <a class="btn btn-primary text-white disabled">Buy</a>
        {% endif %}


    </div>
  </div>
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  <br>
  
  
  {% endfor %}


  {% if not items %}
  <P>No Items, Do You Want To ADD An Item?<a href="{{url_for('home.add_item')}}"> Add-Item</a> </P>
 {% endif %}
</center>

{% endblock %}